// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

    environment {
        DISPLAY ":2"
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
        QT_STYLE_OVERRIDE "kvantum"
        QT_QPA_PLATFORMTHEME "qt6ct"
        XDG_MENU_PREFIX "arch- kbuildsycoca6 --noincremental"
    }

    hotkey-overlay {
        skip-at-startup
        hide-not-bound
    }
