// ────────────── Keybindings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {
    MOD+SHIFT+ESCAPE                    { show-hotkey-overlay; }

    // ─── Applications ───
    MOD+RETURN                          hotkey-overlay-title="Open Terminal: kitty" { spawn-sh "kitty"; }
    MOD+E                               hotkey-overlay-title="File Manager: Dolphin" { spawn-sh "dolphin"; }
    MOD+B                               hotkey-overlay-title="Open Browser: librewolf" { spawn-sh "librewolf"; }
    MOD+SPACE                           hotkey-overlay-title="Open App Launcher: dms" { spawn-sh "dms ipc call spotlight toggle"; }
    MOD+V                               hotkey-overlay-title="Open Clipboard" { spawn-sh "dms ipc call clipboard toggle"; }
    ALT+TAB                             repeat=false { toggle-overview; }

    // ─── Window Movement and Focus ───
    MOD+Q                               { close-window; }

    MOD+A                               { focus-column-left; }
    MOD+D                               { focus-column-right; }
    MOD+W                               { focus-window-up; }
    MOD+S                               { focus-window-down; }
    MOD+SHIFT+A                         { consume-or-expel-window-left; }
    MOD+SHIFT+D                         { consume-or-expel-window-right; }

    MOD+ALT+A                           { move-column-left; }
    MOD+ALT+D                           { move-column-right; }
    MOD+ALT+W                           { move-window-up; }
    MOD+ALT+S                           { move-window-down; }

    MOD+HOME                            { focus-column-first; }
    MOD+END                             { focus-column-last; }
    MOD+ALT+HOME                        { move-column-to-first; }
    MOD+ALT+END                         { move-column-to-last; }

    MOD+SHIFT+ALT+A                     { move-column-to-monitor-left; }
    MOD+SHIFT+ALT+D                     { move-column-to-monitor-right; }

    // ─── Workspace Switching ───
    MOD+SHIFT+WHEELSCROLLDOWN           { focus-workspace-down; }
    MOD+SHIFT+WHEELSCROLLUP             { focus-workspace-up; }
    MOD+SHIFT+ALT+S                     { move-column-to-workspace-down; }
    MOD+SHIFT+ALT+W                     { move-column-to-workspace-up; }
    MOD+SHIFT+ALT+WHEELSCROLLDOWN       { move-column-to-workspace-down; }
    MOD+SHIFT+ALT+WHEELSCROLLUP         { move-column-to-workspace-up; }

    MOD+WHEELSCROLLDOWN                 { focus-column-right; }
    MOD+WHEELSCROLLUP                   { focus-column-left; }
    MOD+ALT+WHEELSCROLLDOWN             { move-column-right; }
    MOD+ALT+WHEELSCROLLUP               { move-column-left; }

    //MOD+TAB                             { spawn "niri-scratchpad" "create" "1"; }

    // ─── Layout Controls ───
    MOD+ALT+F                           { expand-column-to-available-width; }
    MOD+C                               { center-column; }
    MOD+ALT+C                           { center-visible-columns; }

    // ─── Modes ───
    MOD+T                               { toggle-window-floating; }
    Mod+R                               { switch-preset-column-width; }
    Mod+ALT+R                           { reset-window-height; }
    Mod+SHIFT+F                         { fullscreen-window; }
    Mod+F                               { maximize-column; }

    // ─── Screenshots ───
    MOD+SHIFT+S                         { screenshot; }
    //SHIFT+Caps+S                      { screenshot write-to-disk=false; }
    PRINT                               { screenshot-screen write-to-disk=false; }
    ALT+PRINT                           { screenshot-window write-to-disk=false; }

    // ─── Audio Controls ───
    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "playerctl previous"; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+DELETE                     { quit; } // Also quits Niri
    MOD+ALT+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
}
