// ────────────── Layout Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

    layout {
        gaps 8 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column
        always-center-single-column

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

    default-column-width { proportion 0.5; }

        focus-ring {
            width 2
            active-color "#85a6af"
            inactive-color "#505050"
        }

        shadow {
            softness 30
            spread 5
            offset x=0 y=5
            color "#0007"
        }

        struts {
            left -4
            right -4
            top -4
            bottom -4
        }
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }
