// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-3" {
    mode "3440x1440@240.085" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
    position x=0 y=0
    focus-at-startup
}

output "DP-2" {
    mode "2560x1440@74.92"
    transform "90"
    scale 1.33
    position x=3440 y=-482

    layout {
        default-column-width { proportion 1.0; }
    }
}
