// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "/usr/lib/mate-polkit" // Polkit
    // spawn-sh-at-startup "niri-scratchpad daemon"
    // spawn-sh-at-startup "swww-daemon" // Wallpaper daemon
    // spawn-sh-at-startup "swww img /home/darkxoa/Pictures/wp13243887.jpg" // Set wallpaper
    // spawn-sh-at-startup "waybar" // Launch waybar
    spawn-at-startup "systemctl" "--user" "enable" "--now" "hypridle"
    spawn-at-startup "qs" "-c" "noctalia-shell"
    spawn-sh-at-startup "flatpak run io.githuv.spacingbat3.webcord"
    spawn-sh-at-startup "flatpak run com.spotify.Client"
    // spawn-sh-at-startup "steam"

    prefer-no-csd // Disable program decorations
    screenshot-path null // Disable screenshot saving
