// ────────── Window / Layer Rules ──────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

    window-rule {
        geometry-corner-radius 15 // Set every window radius to 20
        clip-to-geometry true
    }

    window-rule {
        match is-active=true
        opacity 0.9
        draw-border-with-background false
    }

    window-rule {
        match is-active=false
        opacity 0.8
    }

    window-rule {
        match app-id=r#"firefox$"# title="^Picture-in-Picture$"
        open-floating true // Always float Firefox PiP windows
    }

    window-rule {
        match app-id="discord"
        open-on-output "DP-2"
    }

    window-rule {
        match app-id="spotify"
        open-on-output "DP-2"
    }

    window-rule {
        match app-id="altus"
        open-on-output "DP-2"
        open-on-workspace "2"
    }

    window-rule {
        match app-id="signal-desktop"
        open-on-output "DP-2"
        open-on-workspace "2"
    }

    window-rule {
        match app-id="betterbird"
        open-on-output "DP-2"
        open-on-workspace "2"
    }

    window-rule {
        match app-id="steam"
        open-on-output "DP-2"
        open-on-workspace "3"
    }

    window-rule {
        match app-id="steam_app_"
        open-on-output "DP-3"
    }

    window-rule {
        match app-id="steam" title="^notificationtoasts"
        open-focused false
        default-floating-position x=8 y=8 relative-to="top-right"
        block-out-from "screencast"
    }

    window-rule {
        match title="^BizHawk"
        default-column-width { fixed 1742; }
    }

    window-rule {
        match title="^TAStudio"
        default-column-width { fixed 591; }
    }

    window-rule {
        match title="^RAM Watch"
        default-column-width { fixed 344; }
    }

    window-rule {
        match app-id="librewolf" title=r#"^Twitch*"#
        opacity 1.0
    }
